# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/client/node_modules
/client/.pnp
/client/.pnp.js

# testing
/client//coverage

# production
/client//build

# misc
/client/.DS_Store
/client/.env.local
/client/.env.development.local
/client/.env.test.local
/client/.env.production.local

/client/npm-debug.log*
/client/yarn-debug.log*
/client/yarn-error.log*




# server git  ignore

/mfc-app-server/HELP.md
/mfc-app-server/target/
/mfc-app-server/!.mvn/wrapper/maven-wrapper.jar
/mfc-app-server/!**/src/main/**/target/
/mfc-app-server/!**/src/test/**/target/

### STS ###
/mfc-app-server/.apt_generated
/mfc-app-server/.classpath
/mfc-app-server/.factorypath
/mfc-app-server/.project
/mfc-app-server/.settings
/mfc-app-server/.springBeans
/mfc-app-server/.sts4-cache

### IntelliJ IDEA ###
/mfc-app-server/.idea
/mfc-app-server/*.iws
/mfc-app-server/*.iml
/mfc-app-server/*.ipr

### NetBeans ###
/mfc-app-server/nbproject/private/
/mfc-app-server/nbbuild/
/mfc-app-server/dist/
/mfc-app-server/nbdist/
/mfc-app-server/.nb-gradle/
/mfc-app-server/build/
/mfc-app-server/!**/src/main/**/build/
/mfc-app-server/!**/src/test/**/build/

### VS Code ###
/mfc-app-server/.vscode/
