*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;	
	font-family: Raleway, sans-serif;
}
body{
    
    background-color:var(--background-color);
    border-radius: 50%;
    justify-content: center;
    align-items: center;
}
h2{
    color:var(text-color);
    margin-top: -10px;
}
img{
    margin-top: -100px;
    padding-bottom: 20px;
    max-width: 100%;
    height: auto;
}
.mno{
    color:var(--text-color);
    padding-bottom: 20px;
}
.otp{
    color:var(--text-color);
    padding-bottom: 20px;
}

.line-input{

    width: 200px;
    border: none;
	border-bottom: 2px solid #D1D1D4;
	background: none;
	padding: 10px;
	padding-left: 24px;
	font-weight: 700;
    padding-bottom: 10px;
   
	}
.account{
    padding:100px;
}
.error-message {
    color:var(--accent);
    font-size: 12px;
    margin-top: 5px;
}

button {
    padding: 12.5px 30px; 
    width:auto;
    border: 0;
    border-radius: 10px;
    background-color:var(--primary-button);
    color:var(--background-color);
    font-weight: Bold;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
  }
  
  button:hover {
    background-color:var(--primary-button);
    cursor: pointer;

  }
  
  button:active {
    background-color: #DC143C;
  
  }

  @media only screen and (max-width: 600px) {
    .container {
        padding: 10px;
    }
    
    .button {
        font-size: 14px;
    }
}
