
  h3.account {
    margin-bottom: 20px;
  }
  
  .mn {
    display: inline-block;
    width: 100px;
  }
  
  .line-input1 {
    width: 180px;
    margin-bottom: 10px;
  }
  
  .checkbox-container {
    display: flex;
    align-items: center;
  }
  
  .checkbox-label {
    margin-left: 5px;
  }
  