
  .mn {
    display: inline-block;
    width: 100px;
  }
  
  .line-input1 {
    width: 180px;
    margin-bottom: 10px;
  }
  
  .checkbox-container {
    display: flex;
    align-items: center;
  }
  
  .checkbox-label {
    margin-left: 5px;
  }
  .line-input1{

    width: 200px;
    background: none;
    padding: 10px;
    padding-left: 24px;
    font-weight: 700;
      padding-bottom: 10px;
     
    }
    .acc{
      padding:50px;
    }